.academy-logo {
  @include link-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  padding-top: 22px;

  @media (min-width: $medium-viewport-width) {
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 0;
    max-width: 30%;
  }
}

.academy-logo:hover .academy-logo__picture {
  fill: $color-primary;
}

.academy-logo:active {
  opacity: 0.3;
}

.academy-logo__text {
  @include font-secondary;
  position: relative;
  bottom: 2px;
  right: 1px;
  padding-top: 1px;
  line-height: 18px;
  color: $color-dark;
  font-size: 16px;

  @media (min-width: $medium-viewport-width) {
    align-self: center;
    margin-right: 22px;
    padding-top: 0;
  }
}

.academy-logo__picture {
  margin-left: auto;
  width: 27px;
  height: 34px;
  fill: $color-light-special-11;
}
