.catalog-page-main {
  outline: $outline-debug-contrast;
}

.catalog-page-main__title-wrapper {
  outline: $outline-debug;
  margin-bottom: 41px;
}

.catalog-page-main__title {
  @include header-reset;
  line-height: 36px;
  font-size: 36px;
}

.catalog-page-main__primary-products {
  outline: $outline-debug;
  margin-bottom: 28px;
}

.catalog-page-main__extra-products {
  outline: $outline-debug-contrast;
  margin-bottom: 35px;
}
