.catalog-page-main {
  padding-bottom: 35px;

  @media (min-width: $medium-viewport-width) {
    padding-bottom: 75px;
  }

  @media (min-width: $large-viewport-width) {
    padding-bottom: 85px;
  }
}

.catalog-page-main__title-wrapper {
  margin-bottom: 41px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 83px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 84px;
  }
}

.catalog-page-main__title {
  @include header-reset;
  line-height: 36px;
  font-size: 36px;

  @media (min-width: $medium-viewport-width) {
    line-height: 60px;
    font-size: 60px;
  }
}

.catalog-page-main__primary-products {
  margin-bottom: 24px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 76px;
  }
}
