.contacts {
  outline: $outline-debug-contrast;
}

.contacts__wrapper {
  padding-top: 28px;
  padding-bottom: 22px;
}

.contacts__wrapper--info {
  background-color: $color-light-light;
}

.contacts__text {
  text-transform: uppercase;
  color: $color-dark-accent;
}

.contacts__address {
  @include text-secondary;
  line-height: 20px;
}

.contacts__map {
  display: block;
  border: none;
}
