.main-logo {
  @include link-reset;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-logo__picture {
  width: 34px;
  height: 38px;

  @media (min-width: $medium-viewport-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $large-viewport-width) {
    width: 202px;
    height: 59px;
  }
}
