.page-header {
  outline: $outline-debug-contrast;
  line-height: 20px;
  font-size: 20px;
  font-weight: 500;
}

.page-header__nav-toggle {
  @media (min-width: $medium-viewport-width) {
    display: none;
  }
}
