.page-footer {
  outline: $outline-debug;
  background-color: $color-light;
}

.page-footer__secondary {
  padding-top: 39px;
  padding-bottom: 22px;
}

.page-footer__socials {
  @include list-reset;
}
