.page-main {
  outline: $outline-debug;
}

.page-main--positioning-form {
  margin-bottom: 32px;
}

.page-main__promo {
  margin-bottom: 22px;
}

.page-main__features {
  margin-bottom: 27px;
}

.page-main__how-it-works {
  margin-bottom: 42px;
}
