.page {
  height: 100%;
  color: $color-dark-dark;

  @include text-primary;
}

.page__body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: $small-viewport-width;
}

.page__body--decorated {
  @media (min-width: $large-viewport-width) {
    background-image: linear-gradient(to right, transparent 0, transparent 50%, $color-primary-dark 50%, $color-primary-dark),
      url("../img/index-background-desktop.jpg");
    background-position: 0 0, right top;
    background-repeat: no-repeat;
    background-size: auto 694px, 50% 694px;
  }
}

.page__header--positioning-base {
  margin-bottom: 0;
}

.page__header--positioning-form {
  margin-bottom: 27px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 62px;
  }
}

.page__header--positioning-catalog {
  margin-bottom: 27px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 51px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 63px;
  }
}
