.page-main--positioning-form {
  margin-bottom: 32px;
}

.page-main__promo {
  margin-bottom: 22px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 0;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 82px;
  }
}

.page-main__features {
  margin-bottom: 27px;
}

.page-main__how-it-works {
  margin-bottom: 42px;
}
