.page {
  @include text-primary;
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: $small-viewport-width;
}

.page__body--decorated {
  @media (min-width: $large-viewport-width) {
    background-image: linear-gradient(to bottom, transparent 694px, $color-light-light 694px),
      linear-gradient(to right, transparent 50%, $color-primary-dark 50%),
      url("../img/index-background-desktop.jpg");
    background-position: 0 0, 0 0, right top;
    background-repeat: no-repeat;
    background-size: auto, auto, 50% auto;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, transparent 694px, $color-light-light 694px),
        linear-gradient(to right, transparent 50%, $color-primary-dark 50%),
        url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.page__header--positioning-base {
  margin-bottom: 0;
}

.page__header--positioning-form {
  margin-bottom: 27px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 62px;
  }
}

.page__header--positioning-catalog {
  margin-bottom: 27px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 51px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 63px;
  }
}
