.products-primary {
  @media (min-width: $medium-viewport-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(511px, auto);
    column-gap: 60px;
    row-gap: 59px;
    align-items: start;
  }

  @media (min-width: $large-viewport-width) {
    grid-template-columns: repeat(4, minmax(245px, 1fr));
    grid-auto-rows: minmax(511px, auto);
    column-gap: 80px;
    row-gap: 63px;
    align-items: start;
  }
}
