.socials {
  overflow: hidden;
  border-bottom: 1px solid $color-light-dark;

  @media (min-width: $medium-viewport-width) {
    border-bottom: none;
    max-width: 30%;
  }
}

.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-right: -37px;
  padding-top: 21px;
  padding-bottom: 13px;

  @media (min-width: $medium-viewport-width) {
    align-items: center;
    margin-right: -28px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.socials__item {
  margin-bottom: 5px;
  margin-right: 37px;

  @media (min-width: $medium-viewport-width) {
    margin-right: 28px;
  }
}

.socials__item--vkontakte {
  position: relative;
  left: 1px;

  @media (min-width: $medium-viewport-width) {
    left: 0;
  }
}

.socials__item--instagram {
  margin-right: 39px;
  padding-top: 2px;

  @media (min-width: $medium-viewport-width) {
    margin-right: 28px;
    padding-top: 2px;
  }
}

.socials__item--facebook {
  position: relative;
  bottom: 1px;
  right: 1px;
  margin-right: 45px;

  @media (min-width: $medium-viewport-width) {
    bottom: 0;
    right: 0;
    margin-right: 37px;
  }
}

.socials__link {
  @include link-reset;

  &:hover:not(.socials__link--facebook) .socials__img {
    fill: $color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__link--facebook {
  &:hover .socials__img {
    stroke: $color-primary;
  }
}

.socials__img {
  fill: $color-light-special-11;
}

.socials__img--vkontakte {
  width: 23px;
  height: 13px;

  @media (min-width: $medium-viewport-width) {
    width: 29px;
    height: 18px;
  }
}

.socials__img--instagram {
  width: 16px;
  height: 16px;

  @media (min-width: $medium-viewport-width) {
    width: 23px;
    height: 23px;
  }
}

.socials__img--facebook {
  fill: none;
  stroke: $color-light-special-11;
  width: 13px;
  height: 20px;

  @media (min-width: $medium-viewport-width) {
    width: 15px;
    height: 29px;
  }
}
