.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: $small-viewport-width;
  padding: 0 20px;

  @media (min-width: $medium-viewport-width) {
    width: $medium-viewport-width;
    padding: 0 30px;
  }

  @media (min-width: $large-viewport-width) {
    width: $large-viewport-width;
    padding: 0 110px;
  }
}

.wrapper--paddingless {
  width: $small-viewport-width;
  padding: 0;
}
