//Colors
$color-primary: #68b738;
$color-primary-dark: rgba(104, 183, 56, 0.85);
$color-primary-special-1: #64a73c;
$color-primary-special-2: #5eaa2f;
$color-primary-special-3: #ff8282;

$color-light: #f2f2f2;
$color-light-light: #ffffff;
$color-light-dark: #d9d9d9;
$color-light-accent: #e6e6e6;
$color-light-special-1: #eaeaea;
$color-light-special-2: #cdcdcd;
$color-light-special-3: #e7e7e7;
$color-light-special-4: #ebebeb;
$color-light-special-5: #d3d3d3;
$color-light-special-6: #b3b3b3;
$color-light-special-7: #dcdcdc;
$color-light-special-8: #b2b2b2;
$color-light-special-9: #919191;
$color-light-special-10: #bababa;
$color-light-special-11: #666666;

$color-dark: #444444;
$color-dark-dark: #000000;
$color-dark-accent: #111111;
$color-dark-special-1: #222222;
$color-dark-special-2:  rgba(0, 0, 0, 0.16);
$color-dark-special-3:  rgba(0, 0, 0, 0.19);
$color-dark-special-4:  rgba(0, 0, 0, 0.2);
