.fieldset-extra__legend {
  margin-bottom: 35px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 57px;
  }
}

.fieldset-extra__title {
  padding-right: 23px;

  @media (min-width: $medium-viewport-width) {
    position: relative;
    left: -35px;
    padding-left: 40px;
    padding-right: 41px;
  }

  @media (min-width: $large-viewport-width) {
    left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.fieldset-extra__wrapper {
  clear: both;

  @media (min-width: 500px) and (max-width: $small-viewport-max-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.fieldset-extra__container {
  text-transform: uppercase;

  @media (min-width: 500px) and (max-width: $small-viewport-max-width) {
    width: 300px;
  }

  @media (min-width: $medium-viewport-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 55px;
    row-gap: 36px;
    align-items: start;
    justify-items: start;
    padding-left: 5px;
  }

  @media (min-width: $large-viewport-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    padding-left: 0;
  }
}

.fieldset-extra__label {
  box-sizing: border-box;
  display: block;
  position: relative;
  margin: 0;
  min-height: 30px;
  padding: 0;
  padding-top: 6px;
  padding-left: 46px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $medium-viewport-width) {
    padding-left: 59px;
    line-height: 30px;
    font-size: 20px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.fieldset-extra__label:hover .fieldset-extra__checkbox-image {
  border-color: $color-light-special-10;
}

.fieldset-extra__checkbox-image {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-light-special-2;

  @media (min-width: $medium-viewport-width) {
    width: 40px;
    height: 40px;
  }
}

.fieldset-extra__checkbox:checked ~ .fieldset-extra__checkbox-image {
  background-image: url("../img/check.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.fieldset-extra__checkbox:disabled ~ .fieldset-extra__checkbox-image,
.fieldset-extra__checkbox:disabled ~ .fieldset-extra__text {
  opacity: 0.3;
}
