.fieldset-owner-contacts {
  @media (min-width: $medium-viewport-width) {
    line-height: 30px;
    font-size: 20px;
  }
}

.fieldset-owner-contacts__container {
  clear: both;

  @media (min-width: $medium-viewport-width) {
    padding-left: 3px;
  }

  @media (min-width: $large-viewport-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 20px;
    align-items: start;
    justify-items: start;
    padding-left: 0;
  }
}

.fieldset-owner-contacts__legend {
  margin-bottom: 35px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 72px;
  }
}

.fieldset-owner-contacts__title {
  padding-right: 21px;

  @media (min-width: $medium-viewport-width) {
    position: relative;
    left: -35px;
    padding-left: 39px;
    padding-right: 42px;
  }

  @media (min-width: $large-viewport-width) {
    left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.fieldset-owner-contacts__title-br {
  display: none;

  @media (max-width: 420px) {
    display: block;
  }
}

.fieldset-owner-contacts__label {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: $medium-viewport-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $large-viewport-width) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.fieldset-owner-contacts__text {
  margin-right: 11px;
  padding-top: 10px;

  @media (min-width: $medium-viewport-width) {
    margin-right: 19px;
  }
}

.fieldset-owner-contacts__text--email {
  @media (min-width: $medium-viewport-width) {
    padding-left: 3px;
  }

  @media (min-width: $large-viewport-width) {
    margin-right: 21px;
    padding-left: 0;
  }
}

.fieldset-owner-contacts__text--phone {
  margin-right: 10px;

  @media (min-width: $medium-viewport-width) {
    margin-right: 16px;
  }
}

.fieldset-owner-contacts__input-container {
  position: relative;
  flex-grow: 1;
  width: 40%;
}

.fieldset-owner-contacts__input {
  font: inherit;
  box-sizing: border-box;
  border: 1px solid $color-light-special-3;
  padding: 13px 44px 13px 14px;
  width: 100%;
  text-transform: uppercase;
  color: inherit;

  &:disabled {
    outline: 2px solid $color-dark;
    border-color: transparent;
  }

  &:invalid {
    outline: 2px solid $color-primary-special-3;
    border-color: transparent;
  }

  @media (min-width: $medium-viewport-width) {
    padding: 9px 44px 11px 20px;
  }

  @media (min-width: $large-viewport-width) {
    padding-left: 18px;
  }
}

.fieldset-owner-contacts__input:disabled ~ .fieldset-owner-contacts__email-icon line,
.fieldset-owner-contacts__input:disabled ~ .fieldset-owner-contacts__email-icon path {
  stroke: $color-primary;
}

.fieldset-owner-contacts__input:disabled ~ .fieldset-owner-contacts__phone-icon path {
  fill: $color-primary;
}

.fieldset-owner-contacts__email-icon {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 20px;
  height: 15px;

  @media (min-width: $medium-viewport-width) {
    top: 18px;
    right: 18px;
  }
}

.fieldset-owner-contacts__phone-icon {
  position: absolute;
  top: 12px;
  right: 13px;
  width: 20px;
  height: 21px;

  @media (min-width: $medium-viewport-width) {
    top: 16px;
    right: 18px;
  }

  @media (min-width: $large-viewport-width) {
    top: 15px;
    right: 17px;
  }
}
