.fieldset-extra {
  padding: 0;
}

.fieldset-extra__title {
  margin: 0;
  padding: 0;
  line-height: 26px;
  font-size: 24px;
}

.fieldset-extra__label {
  display: block;
  margin: 0;
  padding: 0;
}
