.pick-up-program-form {
  outline: $outline-debug-contrast;
}

.pick-up-program-form__wrapper {
  @media (min-width: $large-viewport-width) {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: $large-viewport-width;
    margin: 0 auto;
    padding: 0 $large-viewport-padding;
  }
}

.pick-up-program-form__cat-info-fieldset {
  margin: 0;
}

.pick-up-program-form__purposes-fieldset {
  margin: 0;
  margin-bottom: 26px;
}

.pick-up-program-form__owner-contacts-fieldset {
  margin: 0;
  margin-bottom: 27px;
}

.pick-up-program-form__comments-fieldset {
  margin: 0;
  margin-bottom: 27px;
}

.pick-up-program-form__extra-fieldset {
  margin: 0;
  margin-bottom: 34px;
}

.pick-up-program-form__submit-block {
  margin-bottom: 32px;

  @media (min-width: $medium-viewport-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.pick-up-program-form__required-text {
  @include text-secondary;
  line-height: 16px;
  color: $color-dark-dark;
}
