.pick-up-program-form__wrapper {
  margin-bottom: 27px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 68px;
  }
}

.pick-up-program-form__container {
  @media (min-width: $large-viewport-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.pick-up-program-form__fieldset--decorated {
  background-image: linear-gradient(to right, $color-light-light 6.25%, transparent 6.25%),
    linear-gradient(to bottom, transparent 16px, $color-primary 16px, $color-primary 18px, transparent 18px);
  background-repeat: no-repeat;

  @media (min-width: $medium-viewport-width) {
    background-image: linear-gradient(to bottom, transparent 22px, $color-primary 22px, $color-primary 24px, transparent 24px);
  }
}

.pick-up-program-form__cat-info-fieldset {
  margin: 0;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.pick-up-program-form__purposes-fieldset {
  margin: 0;
}

.pick-up-program-form__owner-contacts {
  margin-bottom: 21px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 67px;
  }
}

.pick-up-program-form__comments {
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 67px;
  }
}

.pick-up-program-form__extra {
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $medium-viewport-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $large-viewport-width) {
    margin-bottom: 65px;
  }
}

.pick-up-program-form__submit-container {
  margin-bottom: 32px;

  @media (min-width: $medium-viewport-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 0;
    padding-left: 6px;
  }

  @media (min-width: $large-viewport-width) {
    padding-left: 0;
  }
}

.pick-up-program-form__submit {
  margin-bottom: 21px;

  @media (min-width: $medium-viewport-width) {
    flex-grow: 1;
    width: 282px;
    margin-bottom: 0;
    margin-right: 61px;
    padding-top: 11px;
    padding-bottom: 11px;
    line-height: 30px;
    font-size: 20px;
  }

  @media (min-width: $large-viewport-width) {
    margin-right: 80px;
    width: 568px;
  }
}

.pick-up-program-form__required-text {
  @include font-secondary;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 16px;
  color: $color-dark-dark;
  font-size: 14px;

  @media (min-width: $medium-viewport-width) {
    box-sizing: border-box;
    flex-grow: 1;
    padding-top: 16px;
    width: 289px;
    text-align: left;
    line-height: 16px;
    font-size: 16px;
  }

  @media (min-width: $large-viewport-width) {
    padding-top: 18px;
    width: 568px;
  }
}
